/*
 
Main Color #28a745 Green

2nd section color #a9dbb4

*/


body{
	font-family: 'Ubuntu', sans-serif;
}

/*
	Global Stylize
*/
a{
	color: rgba(0,0,0,.5);
	-webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    -ms-transition: all 500ms;
    -o-transition: all 500ms;
    transition: all 500ms;
}
a:hover{
	text-decoration: none;
}
.p-5{
	padding: 5rem !important;
}
.bg-light{
	background: #e7eef4
  !important;
}
.bg-dark{
	background: #202020 !important;
}
.marginTop{
    margin-top: 78px;
}
.section-heading{
border-bottom: 3px solid #28a745;
}
.section-heading h6{
	    margin: 0;
    padding: 10px;
    background: #28a745;
    display: inline-block;
    color: #fff;
}
.breadcrumb{
	margin: 0;
	padding: 0;
	    background: none; 
}
.page-heading h2{
}


/*
	Navbar style
*/

.navbar-light .navbar-nav .nav-link{
	color: #fff !important;
}



/*
	Home main content stylize
*/
.home-section {
}
.home_single_item {
    display: inline-block;
    text-align: center;
    width: 24.5%;
}
.main_item_img img {
}
.home_single_item button{
	    margin-top: 30px;
    min-width: 153px;
}


/*
	slider
*/

.featured-slider {
	margin-right:-15px;
}

.featured {
	border:1px solid #f6f6f6;
	margin-right:15px;
	margin-bottom:30px;
}

.featured .ad-meta {
	position:inherit;
	width:100%;
}

.featured-image{
	position:relative;
}
.ad-info {
	padding:20px 25px;
}

.ad-info .item-price {
	margin-top:0;
	margin-bottom:5px;
	font-size:20px;
	font-weight:500;
}

.ad-info .item-title {
	font-size:18px;
	margin-top:0;
	margin-bottom:5px;
}

.ad-info .item-title a {
	color:#000;
}

.ad-info .item-cat {
	font-size:14px;
	color:#a0a0a0;
}

.ad-info .item-cat a{
	color:#a0a0a0;
}

.featureds  .ad-info {
	min-height: 140px;
}

.ad-info .item-title a:hover {
	text-decoration: underline;
}

.ad-info .item-cat a:hover, 
.ad-info .item-price {
	color: #28a745;
}

.ad-meta {
	background-color: #f6f6f6;
    border-top: 1px solid #eeeeee;
    min-height: 35px;
    position: absolute;
    bottom: 0;
	right:-1px;
	width:100%;
	padding-left:25px;
	display:table;
	font-size:14px;
}

.ad-meta .meta-content {
	display:table-cell;
	vertical-align:middle;
}

.ad-meta .meta-content .dated {
	margin-right:20px;
}

.ad-meta .meta-content .dated, 
.ad-meta .meta-content .visitors {
	font-weight:500;
	color:#9fa4a4;
}

.ad-meta .meta-content span, 
.ad-meta .meta-content a {
	font-weight:400;
	color: #9fa4a4;
}

.ad-meta .meta-content a:hover {
	color: #28a745;
}

.ad-meta .user-option a{
	font-size: 18px;
	color: #9fa4a4;
	display:inline-block;
	width: 40px;
	height: 35px;
	text-align: center;
	line-height: 35px;
}

.featured .ad-meta .user-option a {
	width:30px;
}

.ad-meta .user-option a:hover {
	background-color:#fff;
	color: #28a745;
}

.ad-meta .user-option a.edit-item:hover {
	color:#0072bc;
}

.ad-meta .user-option a.delete-item {
	color:#ed1c24;
}

.ad-meta .user-option a.delete-item:hover {
	color:#c3171d;
}

.featured .ad-meta span a {
	margin-top: 7px;
}

.ad-meta a i {
	text-align: right
}

a.verified {
	position: absolute;
	top: 0;
	right: 0;
}

a.verified i {
	height: 20px;
	width: 20px;
	background-color: #00a651;
	color: #fff;
	line-height: 25px;
	text-align: center;
}

.featured-image a i:before {
	z-index: 9999;
    position: relative;	
}

.featured-image a i:after {
	position: absolute;
	border-right: 40px solid #00a651;
	border-bottom: 40px solid transparent;
	border-left: 40px solid transparent;
	top: 0px;
	right: 0;
	content:"";
}

.featured-ad {
	position: absolute;
	top: 15px;
	left: -30px;
	padding: 5px 15px;
	color: #fff;
	background-color: #28a745;
	-moz-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	width: 120px;
	text-align: center;
	border: 1px dotted #ddd;
	text-transform: uppercase;
	font-size: 11px;
}



/* slider */


.owl-carousel .owl-next,
.owl-carousel .owl-prev {
	position: absolute;
	top: -60px;
	font-size:24px;
	color:#d2d2d2;
	background: #28a745 !important;
	transition: all .15s ease-in-out;
}

.owl-carousel .owl-next:hover,
.owl-carousel .owl-prev:hover {
	color:#00a651;
	background: #218838 !important;
}

.owl-carousel .owl-next {
	right:15px;
}

.owl-carousel .owl-prev {
	right:55px;
}

.owl-carousel .owl-prev:before {
    position: absolute;
    content: "";
    top: 10px;
    right: 50%;
	margin-right:-20px;
    width: 1px;
    height: 16px;
    background-color: #f2f2f2;
}


/*
	Search page
*/
.card{}
.card .card-header{}
.card .card-header a{}
.card .card-header .card-title{
	padding: 0px;
    color: #000000;
    font-weight: 500;
    margin: 3px 0;
}
.card-body{}
.card-body ul{
	    margin: 0;
    padding: 0;
    list-style: none;
}
.card-body ul li{}
.card-body ul li a{
	    color: #000000;
	    font-weight: 400;
    line-height: 30px;
    font-size: 14px;
}
.card-body ul li a i{
	    font-size: 18px;
    color: #8E8B8B;
    margin-right: 10px;
}

.card-body ul li a span{
	    color: #9e9e9e;
    margin-left: 5px;
}
.card-body ul li a:hover,
.card-body ul li a:hover i{
	color: #218838;
}
.listing-product{}
.listing-product h6{
	    margin: 0;
    line-height: 38px;
    padding-left: 10px;
    color: #000;
}
.listing-product .card{}
.listing-product .card-header{
	padding: 5px;
}
.item-image {
	position:relative;
}

.item-image img {
	width:100%;
	    min-height: 150px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.ad-item:hover .item-image img {
-moz-transform: scale(1.05) rotate(2deg);
-webkit-transform: scale(1.05) rotate(2deg);
-o-transform: scale(1.05) rotate(2deg);
-ms-transform: scale(1.05) rotate(2deg);
transform: scale(1.05) rotate(2deg);
}

.ad-item {
	border: 1px solid #f3f3f3;
	margin: 0 0 15px 0;
	min-height: 152px;
	border-radius:2px;
	max-height:152px;
}
.ad-item:last-child{
	margin: 0;
}
.item-image-box, .item-info {
	padding: 0;
    margin: 0;
    position: relative;
}

.item-info {
	min-height:152px;
}

.item-image-box {
	max-height:152px;
	overflow:hidden;
}

.trending-ads {
	margin-bottom: 15px;
	background-color: #fff;
	padding: 15px 30px;
}

.ad-item .ad-info {
	overflow:hidden;
}

.ad-item .ad-info span+a {
	color: #9fa4a4;
	font-size: 14px;
	line-height: 16px;
}

.ad-item .ad-info span, 
.featured .ad-info span{
	color: #a0a0a0;
	font-size: 14px;
	line-height: 17px;
}



/*
	single product 
*/
.slider {
	background-color: #fff;
	display: inline-block;
	padding: 33px 30px 51px;
	border-radius: 4px;
	width: 100%;
}

.carousel-indicators {
	position:absolute;
	width: 100%;
	left: 0;
	bottom: -129px;
	margin-left: 0;
	border:none;
	text-align: left;
}
#carouselExampleIndicators .carousel-indicators {
	bottom:-140px;
}

#carouselExampleIndicators .carousel-indicators li,
#carouselExampleIndicators .carousel-indicators li.active {
	height: 105px;
	width: 107px;
	text-indent: inherit;
	border: none !important;
	border-radius: 0;
	margin: 0;
	margin-left:17px;
}

#carouselExampleIndicators .carousel-indicators li:first-child{
	margin-left: 0 !important;
}

#carouselExampleIndicators .carousel-indicators li img {
	overflow:hidden;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	opacity:0.7;
}

#carouselExampleIndicators .carousel-indicators li img:hover, 
#carouselExampleIndicators .carousel-indicators li.active img {
	opacity:1;
}

#carouselExampleIndicators .carousel-control {
	background: none !important;
	width: 50px;
	height: 50px;
	top: 50%;
	margin-top: -25px;
	font-size: 50px;
	line-height:50px;
}

#carouselExampleIndicators .carousel-control.left {
	left: 0px;
}

#carouselExampleIndicators .carousel-control.right {
	right: 0px;
}

#carouselExampleIndicators .carousel-control {
	opacity:0;
}

#carouselExampleIndicators:hover .carousel-control {
	opacity:1;
}
.slider-text h2 {
	color: #00a651;
	font-size: 36px;
	font-weight: 500;
	margin: 0;
}

#main .slider-text h3.title {
	font-size: 36px;
	font-weight: 400;
	color: #000;
	margin: 11px 0 8px;
}

.slider-text h4 {
	font-weight: 500;
	color:#272727;
	margin-bottom: 19px;
}

.slider-text span {
	color: #9fa4a4;
	font-size: 14px;
}

.slider-text span a {
	font-weight: 500;
	color: #000;
	margin-right:10px;
}

.slider-text span a.time {
	color: #4a4b4b;
	font-weight: 400;
}

.slider-text span i {
	margin-right: 10px;
}

.slider-text span.icon {
	display:inline-block;
	margin: 11px 0 16px;
}

.slider-text i.online:after {
	top:-2px;
}

.short-info a,
.slider-text span.icon a {
	color:#9fa4a4;
	font-weight: 400;
}

.slider-text span.icon a strong {
	font-weight: 400;
	color: #00a651;
}

.short-info h4 {
	margin-bottom: 12px;
}

.short-info strong {
	color:#272727;
	margin-right:5px;
}

.short-info a {
	color: #272727;
}

.contact-with h4 {
	margin-top: 32px;
}

.contact-with .btn {
	background-color: #0d79bf;
	color: #fff;
	margin-right: 17px;
	border: 1px solid transparent;
	margin-bottom: 17px;
}

.contact-with .btn-red {
	background-color: #f36d2d;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.contact-with .btn i {
	font-size: 22px;
	vertical-align: top;
	margin-right: 10px;
}

.contact-with a.btn:hover {
	color: #0d79bf;
	background-color: transparent;
	border: 1px solid #0d79bf;
}

.contact-with .btn-red:hover {
	color: #f36d2d;
	background-color: transparent;
	border: 1px solid #f36d2d;
}

.social-links li a {
	font-size: 20px;
}

.social-links li {
	margin-right: 10px;
	    display: inline-block;
}

.social-links li:last-child {
	margin-right:0;
}

.social-links li a i.fa-facebook-square {
	color: #0d79bf;
}

.social-links li a i.fa-twitter-square {
	color: #0db2f0;
}

.social-links li a i.fa-google-plus-square {
	color: #ec4d53;
}

.social-links li a i.fa-linkedin-square {
	color: #4e92ce;
}

.social-links li a i.fa-pinterest-square {
	color: #ed1c24;
}

.social-links li a i.fa-tumblr-square {
	color: #0054a6;
}

.slider-text span a:hover,
.slider-text a:hover {
	color:#00a651;
}

.hide-number, .show-number .hide {
	display:none;
}

.show-number .show {
	display: inline-block !important;
}

.slider-text .show-number span {
	color:#fff;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.slider-text .show-number span:hover, 
.slider-text .show-number:hover span, 
.contact-with .show-number .btn-red:hover{
	color:#f36d2d;
}




/*
	Footer stylize
*/
.footer_top_area{}
.footer_top_area h5{
	    margin-bottom: 25px;
}
.footer_top_area ul{}
.footer_top_area ul li{}
.footer_top_area ul li a{
	    padding-left: 0;
    color: rgba(0,0,0,.5);
}
.footer_top_area ul li a:hover{
	color: #218838;
}
.footer_top_area address{}
.footer_top_area address p{
	margin-top: 0;
    margin-bottom: 0px;
    border-bottom: 1px solid #ddd;
    padding: 10px 0px;

}
.copyright-area{}
.copyright-area p{
	margin-top: 1rem;
	/*color: #fff;*/
}




